@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  background-color:#151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: "Satisfy", serif;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg{
  width:90%;
  height:90%;
  visibility:hidden;
}


.snowfall {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.gift-box {
  position: relative;
  width: 150px;
  height: 150px;
  background: red;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: -50px;
}
.ribbon {
  position: absolute;
  width: 20px;
  height: 100%;
  background: gold;
  left: 50%;
  transform: translateX(-50%);
}
.ribbon-horizontal {
  position: absolute;
  height: 20px;
  width: 100%;
  background: gold;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes twinkle {
  0% { filter: brightness(1); }
  100% { filter: brightness(1.5); }
}
.message {
  display: none;
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 20px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
audio {
  display: none;
}
